body {
  background-image: url(fundo.jpg')
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
}
}

.container {
  max-width: 600px;
  margin: auto;
}

img {
  width: 300px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.05);
}
}
